  /* STYLING FOR THE WHOLE WEBSITE */
  body {
    /* Gets rid of white line on left of website */
    margin: 0;
    padding: 0;
    background: #501D6D;
    color: white; 
  }

/* Montserrat Light Font */
@font-face {
    font-family: 'Montserrat-Light';
    src: url(assets/fonts/Montserrat-Light.ttf) format("truetype");
  }

/* Montserrat SemiBold Font */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

/* Montserrat Medium Font */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/assets/fonts/Poppins-Medium.ttf') format("truetype");
}

/* Side Navigation Bar*/
.sidenav {
   
    height: 100%;
    width: 35vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/* The navigation menu links */
.sidenav a {
    height: 46px;
    width: 70%;
    margin: 9.5px; /* Top & Bottom = 20px, Left & Right = 8px */
    padding-left: 15px;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    /* identical to box height */
    color: #9197B3;
    display: inline-block;
    border-radius: 8px;
  }

  .sidenav>.active>a {
    background: #5932EA;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;

}

.arrow {
    width: 24px;
    height: 24px;
    float: right;
    line-height: 21px;
    align-self: flex-end;
}

/*Search Bar */
input[name="search"] {
    display: flex;
    justify-content: right;
    background-image: url('/WebContent/assets/images/Search.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: 10px 10px;
    margin-top: 40px;
    margin-bottom: 14px;
    outline: none;
    width: 216px;
    height: 38px;
    background-color: white;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 12px;
}



.balance-div {
    margin-bottom: 19px;
    width: 968px;
    height: 151px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
}

.post-div {
    background: #FFFFFF;
    color: #9197B3;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    padding-bottom: 23px;
    margin-bottom: 16px;
    width: 968px;
    height: 249px;

}

.post-comment-div {

}

input[name="tweet"] {
    width: 803px;
    height: 101px;
    font-family: 'Poppins-Medium', sans-serif;
    color: #9197B3;
    font-size: 36px;
    font-weight: bold;
    border: none;
    outline: none;
}

.post-line {
    flex-direction: row;
    width: 912px;
    border: 1px solid #EEEEEE;
    width: 912px;
    height: 0px;
    left: 411px;
    top: 436.88px;
   /* margin-top: 93px;*/

}

button {
    /*margin-top: 14px;*/
    width: 250px;
    height: 46px;
    font-family: 'Poppins-Medium', sans-serif;
    background: #5932EA;
    color: white;
    border-radius: 8px;
    float: right;
    margin: 5%;
}

.comment {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.tweets {
    margin-top: 16px;
    padding-top: 30px;
    width: 968px;
    height: 622px;
    background: white;
    border-radius: 30px;
}

.tweet-container {
    display: flex;
    padding-top: 25px;
    padding-left: 33px;
    width: 876.84px;
    height: 88px;

}

.tweet-author {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }

  .tweet-time {
      font-size: 14px;
      color: black;
  }

  .user-tweet {
    font-size: 14px;
    color: black;
  }

  .profile-pic {
    height: 88px;
    width: 88px;
    background-image: url('/WebContent/assets/images/User.png');
    background-repeat: no-repeat;
  }

  .header-txt {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }

  /*MODAL */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 300px;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .tweet-info {
    display: flex;
  }


  .like-comment-icons {
    display: flex;
    float: right;
  }