  /* STYLING FOR THE WHOLE WEBSITE */
  body {
    /* Gets rid of white line on left of website */
    margin: 0;
    padding: 0;
    background: #501D6D;
    color: white; 
  }

/* Montserrat Light Font */
@font-face {
    font-family: 'Montserrat-Light';
    src: url(assets/fonts/Montserrat-Light.ttf) format("truetype");
  }

/* Montserrat SemiBold Font */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

/* Montserrat Medium Font */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
}


 /* PPSwap Logo */
.ppswap {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/*get rid of the thing when clicked */
input[type=text], input[type=password] {
    align-content: center;
    padding: 15px 20px 12px 50px;
    background-image: url('/assets/images/Envelope.png'); 
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: 10px 0;
    width: 100%;
    min-width: 300px;
    height: 45px;
    border: 1px solid #FFFFFF;
    background-color: #501D6D;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Montserrat-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
/* identical to box height, or 143% */
}

.form {
	display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
	
}

.form input {
	align-content: center;
    padding: 15px 20px 12px 50px;
    background-image: url('/assets/images/Envelope.png'); 
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: 10px 0;
    width: 100%;
    min-width: 300px;
    height: 45px;
    border: 1px solid #FFFFFF;
    background-color: #501D6D;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Montserrat-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.form button {
	margin-top: 43px; 
    margin-bottom: 8px;
    width: 300px;
    height: 45px;
    border: 1px solid #FFFFFF;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #501D6D;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
	
}

button, input[type=submit] {
    margin-top: 43px; 
    margin-bottom: 8px;
    width: 300px;
    height: 45px;
    border: 1px solid #FFFFFF;
    color: #501D6D;
     font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }

.button {
    margin-top: 150px; 
    color: #501D6D;
    margin-top: 150px;
    width: 300px;
    height: 45px;
    padding-top: 15px;
    border: 1px solid #FFFFFF;
     font-family: "Montserrat-SemiBold", sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    color:#FFFFFF;
    font-weight: 300;
    font-size: 14px;;
/* identical to box height, or 143% */
    justify-content: center;
    text-transform: uppercase;
    margin-top: 150px; 
    background-color: white; 
    color: #501D6D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }